@font-face {
  font-family: Mont;
  src: url("../font/Mont/Fontfabric - Mont Regular.otf") format("opentype");
}

@font-face {
  font-family: Mont;
  font-weight: bold;
  src: url("../font/Mont/Fontfabric - Mont Bold.otf") format("opentype");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mont";
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mont";
}
/* navbar */
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #ffffff;
  top: 0;
}
.nav__container {
  max-width: 1280px;
  padding: 0 80px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #223e7b;
}
.nav__menu__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav__menu__lists li {
  list-style-type: none;
  padding: 54.82px 32px 46.18px 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__menu__lists li a {
  text-decoration: none;
  color: #223e7b;
  font-size: 16px;
}
.nav__menu__lists li:hover {
  transform: scale(1.1);
}
.fa-angle-down {
  color: #f26522;
  margin-left: 8px;
}
.nav__menubar__burger {
  z-index: 9999;
  display: block;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #f26522;
  width: 40px;
  height: 40px;
  padding: 3px 3px;
  position: relative;
}
.nav__menubar {
  display: block;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #f26522;
  width: 40px;
  height: 40px;
  padding: 3px 3px;
  position: relative;
  top: 40px;
  right: 5px;
}
.nav__menubar.active {
  z-index: 1000;
  position: absolute;
  top: 50px;
  right: 11%;
}

.nav__menubar .line-1 {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f26522;
  transition-duration: 0.3s;
}
.nav__menubar .line-2 {
  width: 100%;
  height: 3px;
  background-color: #f26522;
  display: block;
  transition-duration: 0.3s;
  margin-top: 8px;
}
.nav__menubar .line-3 {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f26522;
  transition-duration: 0.3s;
  margin-top: 8px;
}

.toggle.line-1 {
  transform: rotate(45deg) translate(0px, 8px);
  background-color: #76d1f7;
  z-index: 100;
}
.toggle.line-2 {
  z-index: 100;
  display: none;
}
.toggle.line-3 {
  transform: rotate(-45deg) translate(0px, -8px);
  background-color: #76d1f7;
  z-index: 100;
}

.nav__hover__wrapper {
  width: 100%;
  height: 60%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  display: none;
  position: fixed;
  top: 124px;
  z-index: 2;
}
.nav__hover__container {
  width: 100%;
  background: white;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__hover__box {
  max-width: 1280px;
  width: 100%;
  padding: 64px 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__hover__excess {
  background: rgba(34, 63, 124, 0.9);
  height: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 1;
}

.nav__hover__container .column-1 {
  max-width: 352px;
}
.nav__hover__container .column-2 {
  max-width: 292px;
}
.nav__hover__container .column-3 {
  max-width: 292px;
}
.nav__hover__container .column-1 h2 {
  font-size: 36px;
  font-weight: 800;
  color: #223e7b;
  margin-bottom: 16px;
}
.nav__hover__container .column-1 p {
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 48px;
}
.nav__hover__container .column-1 a {
  padding: 16px 24px;
  background: #f26522;
  border-radius: 6px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
}

.nav__hover__container .column-2 span {
  font-size: 21.33px;
  font-weight: 700;
  color: #223e7b;
  margin-bottom: 16px;
}

.nav__hover__container .column-2 p {
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 16px;
}

.nav__hover__container .column-2 a {
  display: flex;
  align-items: center;
  color: #f26522;
  font-size: 16px;
  font-weight: 700;
}
.nav__hover__container .column-2 a i {
  margin-left: 16px;
}

.nav__hover__container .column-3 span {
  font-size: 21.33px;
  font-weight: 700;
  color: #223e7b;
  margin-bottom: 16px;
}

.nav__hover__container .column-3 p {
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 16px;
}

.nav__hover__container .column-3 a {
  display: flex;
  align-items: center;
  color: #f26522;
  font-size: 16px;
  font-weight: 700;
}
.nav__hover__container .column-3 a i {
  margin-left: 16px;
}

.nav__menu__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #223e7b;
  display: none;
  padding: 110px 176px;
  transition-duration: 0s;
}
.nav__menu__modal.active {
  z-index: 99;
  display: block;
}
.nav__menu__modal__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__modal__column-1,
.nav__modal__column-2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 67.34px;
  font-weight: 800;
}

.nav__modal__column-1 {
  flex: 1;
  order: 1;
}
.nav__modal__column-2 {
  flex: 1;
  order: 2;
}
.nav__modal__column-2 hr {
  margin-top: 32px;
}

.nav__modal__column-1 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__modal__column-1 ul li {
  display: flex;
}
.nav__modal__column-1 ul li a {
  text-decoration: none;
  color: #ffffff;
}
.nav__modal__column-1 ul li a:hover {
  color: #76d1f7;
}

.nav__modal__column-2 {
  display: flex;
  flex-direction: column;
}
.nav__modal__column-2 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__modal__column-2 ul li {
  display: flex;
}

.nav__modal__column-2 ul li a {
  text-decoration: none;
  color: #ffffff;
}
.nav__modal__column-2 ul li a:hover {
  color: #76d1f7;
}
.nav__modal__mini__column {
  font-size: 16px;
  margin-top: 32px;
  color: #f26522;
}
.nav__modal__mini__column a {
  color: #f26522;
}
.nav__modal__mini__column-1 {
  margin-bottom: 24px;
}
.nav__modal__mini__column-1,
.nav__modal__mini__column-2 {
  display: flex;
}
.nav__modal__mini__column-1 a,
.nav__modal__mini__column-2 a {
  width: 100%;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav__menu__modal {
    padding: 0;
  }
  .nav__menu__modal__wrapper {
    display: flex;
    flex-direction: column;
  }
  .nav__modal__column-1 {
    font-size: 24px;
  }
  .nav__modal__column-2 {
    font-size: 24px;
  }
  .nav__modal__column-1 ul {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav__modal__column-2 ul {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav__menu__lists {
    display: none;
  }
  .nav__container {
    padding: 20px 20px;
  }
  .nav__menubar {
    top: 18px;
    right: 5px;
  }

  .nav__modal__mini__column {
    font-size: 16px;
    color: #f26522;
    padding: 20px;
    margin-top: 0;
  }
}
/* end of navbar */

/* main */

.section__wrapper {
  width: 100%;
  height: 100%;
  padding: 124px 0;
  position: relative;
}
.section__container {
  padding: 0 0 0 11%;
  margin: auto;
  height: 100%;
}

/* Section one */

.hero__wrapper {
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  padding-bottom: 5.666rem;
}
.hero__column-1 {
  max-width: 448px;
  margin-top: 88px;
  position: relative;
}
.hero__title {
  height: 14rem;
  white-space: nowrap;
  position: relative;
}
.text-stroke {
  font-style: normal;
  font-weight: bold;
  font-size: 89.764px;
  line-height: 103.69%;
  color: #223e7b;
}
.animate-typing {
  color: #76d1f7;
  font-size: 89.764px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero__column-1 {
  margin-right: 32px;
  max-width: 448px;
}
.hero__column-1 h1 {
  font-size: 72px;
}
.hero__column-1 p {
  color: #152c5e;
  margin-top: 24px;
  font-size: 21px;
}
.hero__column-1 img {
  position: absolute;
  bottom: -32;
  margin-top: 32px;
  left: 0;
}
.hero__column-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  float: right;
  height: 412px;
}
.main-image {
  width: 100%;
}
.dotrion2 {
  background: url("../images/hero/Group 123.png") no-repeat 0 0;
  width: 2.583rem;
  height: 2.583rem;
  position: absolute;
  top: 100%;
  right: 9%;
}

@media screen and (max-width: 768px) {
  .section__container {
    padding: 0 20px;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__column-1 {
    order: 2;
    margin: 0;
    max-width: 100%;
  }
  .hero__column-2 {
    height: auto;
  }

  .hero__title {
    height: 8rem;
    white-space: nowrap;
    position: relative;
    text-align: center;
  }
  .text-stroke {
    font-size: 48px;
  }
  .animate-typing {
    font-size: 48px;
    text-align: center;
  }
}

/* end of Section one */

/* Section two */

.section__two__wrapper {
  padding: 8.333rem 13.9% 2.5rem 17.9%;
  position: relative;
  display: flex;
  justify-content: center;
}
.section__two__wrapper:before {
  content: "";
  width: 548px;
  height: 456px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f4fbfe;
  z-index: -1;
}
.section__two__container {
  max-width: 928px;
}
.slide__column__1 {
  width: 45rem;
}

.image__slider__with__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}
.image__slider__with__text .image__slider__box {
  width: 100%;
  transition-duration: 0.3s;
}

.image__slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 996px;
  overflow-x: hidden;
}
.image__slider__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image__circle {
  position: absolute;
  top: -6.25rem;
  left: -6.25rem;
  animation: rotate-animation 10s infinite linear;
  z-index: 1;
}
.image__dotyellow {
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  z-index: 1;
}
.image__dotblue {
  position: absolute;
  bottom: 0;
  right: 3.25rem;
  z-index: 1;
}
.image__triangleyellow {
  position: absolute;
  bottom: -2rem;
  right: -3rem;
  z-index: 1;
}

.image__slider__box .slide__column__2 {
  padding: 0 0 0 1.5rem;
  width: 452px;
}

.image__slider__box .slide__column__2 span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #828282;
  position: relative;
  top: -7px;
}

.image__slider__box .slide__column__2 h2 {
  font-size: 38px;
  font-weight: bolder;
  color: #223e7b;
}

.image__slider__box .slide__column__2 p {
  font-size: 16px;
  font-weight: 500;
  color: #4f4f4f;
  margin-bottom: 24px;
}
.image__slider__box .slide__column__2 a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #f26522;
  border-radius: 6px;
  padding: 16px 24px;
}

.next-prev {
  margin-top: 26px;
  text-align: center;
}

.ml__wrapper {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section__two__container {
    display: none;
  }
  .section__two__wrapper {
    padding: 0;
  }
  .ml__wrapper {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .ml__text__slider {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
  }
  .ml__text__slide {
    position: relative;
    transition-duration: 1.6s;
  }
  .ml__text__slide div {
    width: 100vw;
    padding: 0 20px 0 20px;
  }
  .ml__text__slide span {
    font-size: 12px;
    font-weight: 500;
    color: #828282;
    text-transform: uppercase;
  }
  .ml__text__slide h2 {
    font-size: 38px;
    font-weight: bolder;
    color: #223e7b;
    line-height: 3.315833rem;
  }
  .ml__text__slide p {
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;
    margin-bottom: 24px;
  }
  .ml__text__slider a {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #f26522;
    border-radius: 6px;
    padding: 16px 24px;
  }

  .ml__image__slider {
    margin-top: 32px;
    display: flex;
    max-height: auto;
    height: 300px;
    max-width: 1024px;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .ml__image__slide {
    position: relative;
    transform: translateX(0%);
    width: 100vw;
    transition-duration: 1.3s;
  }
  .ml__image__slide img {
    height: 100%;
    width: 300px;
    margin: 0 20px;
  }
  .next-prev {
    margin-top: 26px;
    text-align: center;
  }
}

/* End of Section Two */

/* Section Three */

.section__three__wrapper {
  padding: 8.333rem 13.9% 2.5rem 17.9%;
  display: flex;
  justify-content: center;
  position: relative;
}
.section__three__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 928px;
}
.section__three__container .section__three__column-one,
.section__three__container .section__three__column-two {
  position: relative;
}

.section__three__container .section__three__column-one {
  padding-left: 0;
}
.section__three__column-one .steve-image {
  position: relative;
}
.section__three__column-one .dots {
  position: absolute;
  bottom: 35%;
  left: -20px;
}

.section__three__column-two {
  padding: 2.5rem 5rem;
}
.section__three__column-two ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 309px;
  margin-bottom: 45px;
}
.section__three__column-two ul li {
  list-style-type: none;
  margin: 12px 0;
}

.section__three__column-two ul li img {
  width: auto;
  max-width: 100%;
}

.section__three__column-two p {
  color: #223e7b;
  font-weight: bold;
  font-size: 21.328px;
  margin-bottom: 45px;
}

.section__three__column-two a {
  background: #f26522;
  border-radius: 6px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff !important;
}

@media screen and (max-width: 768px) {
  .section__three__wrapper {
    padding: 8.333rem 24px 51px 24px;
    margin-bottom: 24px;
  }
  .section__three__container {
    flex-direction: column;
  }
  .steve-image img {
    width: 100%;
  }
  .section__three__column-two {
    padding: 0;
    text-align: center;
  }
  .steve-image {
    margin-bottom: 24px;
  }
}
/* End of Section Three*/

/* Section Four */

.section__four__wrapper {
  width: 100%;
  position: relative;
  padding: 2.5rem 13.9% 2.5rem 17.9%;
  display: flex;
  justify-content: center;
}
.section__four__wrapper:before {
  content: "";
  position: absolute;
  width: 432px;
  height: 171px;
  background: #f4fbfe;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section__four__wrapper:after {
  content: "";
  position: absolute;
  width: 532px;
  height: 498px;
  background: #f4fbfe;
  bottom: 2.85rem;
  right: 0;
  z-index: -1;
}
.outer__text {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}
.dotrionOrange {
  background: url("../images/section/section 4/dotwithorangecircle.png")
    no-repeat 0 0;
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  top: 21.5%;
  right: 7%;
}
.section__four__container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  max-width: 928px;
}
.section__four__container .section__four__columnOne {
  display: block;
  width: 50%;
  padding: 0 16px 0 0;
}
.section__four__container .section__four__columnTwo {
  display: block;
  width: 50%;
  padding: 0 0 0 16px;
}

.section__four__container .section__four__columnOne .section__four__boxOne p {
  font-weight: 500;
  font-size: 12.003px;
  line-height: 110%;
  letter-spacing: 0.15em;
  color: #828282;
}

.section__four__container .section__four__columnOne .section__four__boxOne h4 {
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
}

.section__four__container
  .section__four__columnOne
  .section__four__boxOne
  .section__four__paragraphOne {
  margin-top: 18px;
  margin-bottom: 40px;
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  color: #4f4f4f;
}
.section__four__container .section__four__columnOne .section__four__boxOne a {
  background: #f26522;
  border-radius: 6px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.section__four__container .section__four__columnOne .section__four__boxTwo {
  margin-top: 56px;
}

.section__four__container
  .section__four__columnTwo
  .section__four__boxFour
  img {
  margin-top: 32px;
}

.section__four__mobileBoxTwo {
  display: none;
}
@media screen and (max-width: 768px) {
  .section__four__wrapper:before {
    width: 123px;
    height: 123px;
  }
  .section__four__wrapper:after {
    width: 134px;
    height: 212px;
  }
  .outer__text {
    bottom: -1.2rem;
    left: 0;
    font-size: 24px;
  }
  .section__four__wrapper {
    padding: 0 20px;
  }
  .section__four__columnOne {
    width: 100% !important;
    /* display: none !important; */
  }
  .section__four__columnTwo {
    display: none !important;
  }
  .section__four__boxTwo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__four__mobileBoxTwo {
    width: 50%;
  }
  .section__four__mobileBoxTwo {
    display: block;
    width: 50%;
    padding: 0 0 0 10px;
  }
  .section__four__mobileBoxOne {
    width: 50%;
  }
  .section__four__mobileBoxTwo__imageTwo {
    width: 100%;
  }
  .section__four__mobileBoxTwo__imageTwo {
    width: 70%;
    margin-top: 16px;
  }
}
/* End of Section Four */

/* Section Five */
.section__five__wrapper {
  width: 100%;
  position: relative;
  padding: 8.3rem 13.9% 2.5rem 17.9%;
  display: flex;
  justify-content: center;
}
.section__five__container {
  max-width: 928px;
  width: 100%;
}
.section__five__container .content__one {
  display: flex;
}
.section__five__container .content__one .section__first__box {
  width: 75%;
}
.section__five__container .content__one .section__first__box p {
  font-style: normal;
  font-weight: 500;
  font-size: 12.003px;
  line-height: 110%;
  letter-spacing: 0.15em;
  color: #828282;
}
.section__five__container .content__one .section__first__box h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
}
.section__five__container
  .content__one
  .section__first__box
  .section__five__paragraphOne {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #4f4f4f;
}

.section__five__container .content__one .section__second__box {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 35px;
}

.section__five__container .content__one .section__second__box a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #f26522 !important;
}

.section__five__container .content__two {
  display: flex;
  position: relative;
}
.section__five__container .content__two .section__third__box {
  width: 100%;
  position: relative;
  max-width: 544px;
  max-height: 352px;
  overflow-x: hidden;
  display: flex;
}
.section__five__container
  .content__two
  .section__third__box
  .testimony__slider {
  width: 544px;
  position: relative;
}
.section__five__container .content__two .section__third__box img {
  max-width: 544px;
}
.section__five__container .content__two .section__third__box .play-button {
  max-width: 110px;
  max-height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__five__container .content__two .section__fourth__box {
  width: 100%;
  max-width: 384px;
  padding: 48px 40px;
  background: #f4fbfe;
  overflow-x: hidden;
}

.section__fourth__box .s4__slider__box {
  display: flex;
  width: 100%;
}

.section__fourth__box .s4__slider__box .text__box blockquote {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #152c5e;
}
.section__fourth__box .s4__slider__box .text__box {
  margin-bottom: 32px;
  position: relative;
  max-width: 300px;
  margin-left: 5px;
}

.what__people__say {
  position: absolute;
  bottom: -0.8rem;
  right: -20px;
}
.section__five__container .content__two .section__fourth__box .text__box p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #223e7b;
}

.section__five__container .content__two .section__fourth__box .stars {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section__five__container .content__two .section__fourth__box .arrow__section {
  text-align: center;
}
.mv__container {
  display: none;
}
.mv__view__all__reviews {
  display: none;
}
@media screen and (max-width: 768px) {
  .section__five__wrapper {
    padding: 8.3rem 0 2.5rem 0;
  }
  .section__five__container .content__one {
    padding: 0 24px;
  }
  .section__five__container .content__one .section__second__box {
    display: none;
  }
  .section__five__container .content__one .section__first__box {
    width: 100%;
  }
  .section__five__container .content__two .section__third__box,
  .section__fourth__box {
    display: none;
  }
  .section__five__container .content__two {
    flex-direction: column;
    background-color: #f4fbfe;
    width: 100vw;
  }
  .mv__container {
    display: flex;
    flex-direction: column;
    background-color: #f4fbfe;
    padding: 24px 0;
    position: relative;
  }
  .mv__container .mv__what__people__say {
    position: absolute;
    bottom: -3.5rem;
    left: 0;
  }
  .mv__section__five__boxOne {
    padding: 0 0 0 24px;
    display: inline-flex;
    overflow-x: hidden;
  }
  .ml__slide__small__img {
    width: 100%;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ml__slide__small__img img {
    width: auto;
    margin: auto;
    margin-bottom: 8px;
  }
  .ml__slide__small__img span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #828282;
    white-space: nowrap;
  }
  .mv__section__five__boxTwo {
    margin-top: 32px;
  }
  .mv__s5__b2__slider {
    display: flex;
  }
  .mv__s5__b2__slide {
    position: relative;
    width: 100vw;
    padding: 0 24px;
  }
  .mv__s5__b2__slide img:nth-child(1) {
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mv__s5__b2__slide img:nth-child(2) {
    width: 100%;
  }

  .mv__section__five__boxThree {
    margin-top: 24px;
    width: 100vw;
    text-align: center;
    overflow: hidden;
  }
  .mv__s5__b3__slider {
    display: flex;
  }
  .mv__s5__b3__slide {
    width: 100vw;
  }
  .mv__s5__b3__slide img {
    margin: auto;
  }

  .mv__section__five__boxFour {
    margin-top: 24px;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    display: inline-flex;
  }
  .mv__s5__b4__slider {
    display: block;
  }
  .mv__s5__b4__slide {
    width: 100vw;
    padding: 0 24px;
  }
  .mv__s5__b4__slide q {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    text-align: center;
    color: #152c5e;
  }

  .mv__s5__b4__slide p {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #223e7b;
  }
  .mv__view__all__reviews {
    display: block;
    width: 100%;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
  }
  .mv__s5__b4__stars {
    display: flex;
    justify-content: center;
  }
  .mv__view__all__reviews a {
    background: #f26522;
    border-radius: 6px;
    padding: 16px 24px;
    color: #ffffff;
  }
}
/* End of Section Five */

/* Section Six */

.section__six__wrapper {
  width: 100%;
  position: relative;
  padding: 8.3rem 13.9% 3.5rem 17.9%;
  display: flex;
  justify-content: center;
}
.section__six__wrapper:after {
  content: "";
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 456px;
  position: absolute;
  bottom: -3rem;
  right: 0;
  background: #f4fbfe;
  z-index: -1;
}
.section__six__triangleYellow {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 64px;
  left: 74px;
}
.section__six__container {
  max-width: 928px;
  display: flex;
  justify-content: center;
}
.section__six__columnOne,
.section__six__columnTwo {
  width: 50%;
}
.section__six__columnOne {
  padding: 0 16px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__six__columnOne .paragraphOne {
  font-style: normal;
  font-weight: 500;
  font-size: 12.003px;
  line-height: 110%;
  letter-spacing: 0.15em;
  color: #828282;
}
.section__six__columnOne .paragraphTwo {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #4f4f4f;
}
.section__six__columnOne h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
}
.section__six__columnOne a {
  background: #f26522;
  border-radius: 6px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff !important;
  width: inherit;
  text-align: center;
}
.section__six__columnTwo {
  position: relative;
  padding: 0 0 0 16px;
}
.section__six__columnTwo .group__87 {
  position: absolute;
  bottom: -2rem;
  right: 0rem;
}
.section__six__columnOne .s6__buttonTwo {
  display: none;
}
@media screen and (max-width: 768px) {
  .section__six__wrapper {
    padding: 8.3rem 24px 3.5rem 24px;
  }
  .section__six__container {
    flex-direction: column;
    width: 100%;
  }
  .section__six__columnOne {
    width: 100%;
    margin-bottom: 44px;
  }
  .section__six__columnOne .s6__buttonOne {
    display: none;
  }
  .section__six__columnOne .s6__buttonTwo {
    width: 127px;
    font-size: 14px;
    display: block;
  }
  .section__six__columnTwo {
    padding: 0;
    width: 100%;
  }
  .section__six__columnTwo img:nth-child(1) {
    width: 100%;
  }
  .section__six__columnTwo .group__87 {
    right: none;
    left: -1rem;
  }
  .section__six__wrapper:after {
    content: "";
    width: 100%;
    max-width: 284px;
    height: 100%;
    max-height: 284px;
    position: absolute;
    bottom: -3rem;
    right: none;
    left: 0;
    background: #f4fbfe;
    z-index: -1;
  }
}
/* End of Section Six */

/* Section Seven */

.section__seven__wrapper {
  width: 100%;
  position: relative;
  padding: 8.3rem 13.9% 3.5rem 17.9%;
  display: flex;
  justify-content: center;
}

.section__seven__wrapper:before {
  content: "";
  width: 432px;
  height: 366px;
  background: #f4fbfe;
  bottom: 0;
  right: 0;
  position: absolute;
}
.section__seven__wrapper .our__program {
  position: absolute;
  bottom: -1rem;
  right: 80px;
}
.section__seven__wrapper .polygon__11 {
  position: absolute;
  bottom: -1rem;
  left: 1px;
}

.section__seven__container {
  max-width: 928px;
  display: flex;
  justify-content: space-between;
}
.section__seven__columnOne,
.section__seven__columnTwo {
  width: 464px;
}
.section__seven__columnOne ul li {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #223e7b;
  cursor: pointer;
  position: relative;
}

.lv-btn:hover::before {
  content: "";
  width: 400px;
  height: 3px;
  position: absolute;
  left: -100%;
  background-color: #76d1f7;
}

.lv-btn.active {
  color: #f26522;
}

.lv-btn.active::before {
  content: "";
  width: 400px;
  height: 3px;
  position: absolute;
  left: -100%;
  background-color: #76d1f7;
}
.lv-span.active {
  -webkit-text-stroke: 1px #f26522;
}
.section__seven__columnOne ul li:hover {
  color: #f26522;
}
.lv-span {
  -webkit-text-stroke: 1px #223e7b;
  color: transparent;
  font-size: 3rem;
  margin-right: 24px;
  width: 72px;
}
.lv-span:hover {
  -webkit-text-stroke: 1px #f26522;
}

.section__seven__columnTwo {
  background: url("./assets/images/section/section 7/Mask Group.png");
  width: 448px;
  height: 415px;
  padding: 48px 64px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #76d1f7;
}
.section__seven__columnTwo .polygon__12 {
  position: absolute;
  top: 13px;
  right: 150px;
}
.section__seven__columnTwo__box.show {
  display: block;
}
.section__seven__columnTwo__box.hide {
  display: none;
}
.section__seven__columnTwo .section__seven__columnTwo__box h4 {
  font-style: normal;
  font-weight: bold;
  -webkit-text-stroke: 1px #223e7b;
  color: transparent;
  font-size: 89.764px;
  line-height: 103.69%;
}
.section__seven__columnTwo .section__seven__columnTwo__box h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 21.328px;
  line-height: 120%;
  color: #223e7b;
}

.section__seven__columnTwo .section__seven__columnTwo__box p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #4f4f4f;
  margin-bottom: 32px;
}
.section__seven__columnTwo .section__seven__columnTwo__box a {
  padding: 16px 24px;
  background: #f26522;
  border-radius: 6px;
  color: #ffffff;
}
/* End of Section Seven */

/* Section Eight Trust Pilot */

.section__eight__wrapper {
  width: 100%;
  position: relative;
  padding: 8.3rem 13.9% 140px 17.9%;
  display: flex;
  justify-content: center;
}

.section__eight__container {
  max-width: 928px;
  width: 100%;
}

/* End of Section Eight Trust Pilot */

/* Section Nine */
.section__nine__wrapper {
  width: 100%;
  position: relative;
  padding: 8.3rem 13.9% 3.5rem 17.9%;
  display: flex;
  justify-content: center;
}
.section__nine__wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #f4fbfe;
  max-width: 528px;
  width: 100%;
  max-height: 407px;
  height: 100%;
  top: 0;
  left: 0;
}
.s9__9dots {
  position: absolute;
  top: 0;
  left: 57px;
}

.s9__9dotsTwo {
  position: absolute;
  top: -37px;
  right: 63px;
}
.s9__9dotsThree {
  position: absolute;
  top: 55%;
  right: 63px;
}
.section__nine__container {
  max-width: 928px;
  width: 100%;
}
.section__nine__container .section__nine__firstBox {
  display: flex;
  position: relative;
}
.section__nine__container .section__nine__firstBox .s9__boxOne {
  width: 100%;
}
.section__nine__container .section__nine__firstBox .s9__boxOne p {
  font-style: normal;
  font-weight: 500;
  font-size: 12.003px;
  line-height: 110%;
  letter-spacing: 0.15em;
  color: #828282;
}
.section__nine__container .section__nine__firstBox .s9__boxOne h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
}
.section__nine__container .section__nine__firstBox .s9__boxTwo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.section__nine__container .section__nine__firstBox .s9__boxTwo a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f26522;
  margin-bottom: 10px;
}

.section__nine__container .section__nine__secondBox {
  display: flex;
  width: 100%;
}
.section__nine__container .section__nine__secondBox .s9__boxThree {
  max-width: 640px;
  width: 100%;
}
.section__nine__container
  .section__nine__secondBox
  .s9__boxThree
  .s9__boxThree__featuredImg {
  position: relative;
}
.section__nine__container
  .section__nine__secondBox
  .s9__boxThree
  .s9__boxThree__featuredImg
  span {
  position: absolute;
  top: 0;
  left: 0;
  background: #76d1f7;
  padding: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #ffffff;
}
.section__nine__container .section__nine__secondBox .s9__boxThree h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
  margin-top: 24px;
}
.section__nine__container .section__nine__secondBox .s9__boxThree .s9__textOne {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #4f4f4f;
  margin-bottom: 24px;
}
.s9__textTwo {
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #828282;
  margin-bottom: 0;
}

.s9__textThree {
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #828282;
}

.section__nine__container .section__nine__secondBox .s9__boxFour {
  width: 100%;
  padding: 0 0 0 32px;
  position: relative;
}

.section__nine__container
  .section__nine__secondBox
  .s9__boxFour
  .s9__boxFour__blogPost {
  margin-bottom: 40px;
}
.section__nine__container
  .section__nine__secondBox
  .s9__boxFour
  .s9__boxFour__blogPost
  span {
  position: absolute;
  top: 0;
  left: 0;
  background: #76d1f7;
  padding: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #ffffff;
}

.section__nine__container
  .section__nine__secondBox
  .s9__boxFour
  .s9__boxFour__blogPost
  .s9__boxFour__blogImg {
  position: relative;
  margin-bottom: 16px;
}
.section__nine__container
  .section__nine__secondBox
  .s9__boxFour
  .s9__boxFour__blogPost
  h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 21.328px;
  line-height: 120%;
  color: #223e7b;
}
/* ENd of Section Nine */

/* Section Ten */

.section__ten__wrapper {
  width: 100%;
  position: relative;
  padding: 0 13.9% 0 17.9%;
  display: flex;
  justify-content: center;
  background-image: url("./assets/images/section/section 10/Group 45.png");
  height: 274px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f4fbfe;
}

.section__ten__container {
  padding: 58px 0 58px 0;
  display: flex;
  max-width: 928px;
  width: 100%;
}
.section__ten__container .s10__boxOne {
  max-width: 448px;
  width: 100%;
}
.section__ten__container .s10__boxOne h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
}

.section__ten__container .s10__boxOne p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #4f4f4f;
}
.section__ten__container .s10__boxTwo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__ten__container .s10__boxTwo input[type="text"] {
  padding: 16px 232px 16px 16px;
  border-top: 1px solid #76d1f7;
  border-left: 1px solid #76d1f7;
  border-bottom: 1px solid #76d1f7;
  border-right: none;
}
.section__ten__container .s10__boxTwo button {
  padding: 18px;
  background: #f26522;
  border: none;
  border-radius: 0px 3px 3px 0px;
}

/* End of Section Ten */

/* Section Eleven */

.section__eleven__wrapper {
  width: 100%;
  position: relative;
  padding: 84px 13.9% 84px 17.9%;
  display: flex;
  justify-content: center;
}
.section__eleven__container {
  max-width: 928px;
  width: 100%;
  display: flex;
}
.section__eleven__container .s11__boxOne {
  padding: 0 45px 0 0;
}
.section__eleven__container .s11__boxOne img {
  width: 100%;
}

.section__eleven__container .s11__boxTwo {
  max-width: 308px;
  width: 100%;
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__eleven__container .s11__boxTwo h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 37.897px;
  line-height: 120%;
  color: #223e7b;
  margin-bottom: 16px;
}
.section__eleven__container .s11__boxTwo p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #4f4f4f;
}
/* End of Section Eleven */

/* Footer */

footer {
  background: #152c5d;
  margin: auto;
  color: #ffffff;
}
.footer__wrapper {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 48px 80px;
  display: flex;
  flex-direction: column;
}
.footer__container {
  width: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 77px;
}

.footer__boxOne {
  max-width: 387px;
  width: 100%;
}

.footer__boxOne .footer__logo {
  max-width: 226px;
  width: 100%;
  margin-bottom: 40px;
}

.footer__boxOne address {
  max-width: 264px;
  width: 100%;
  margin-bottom: 27px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
}
.footer__boxOne p {
  max-width: 264px;
  width: 100%;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
}
.footer__boxOne .footer__socialMedia img:nth-child(1) {
  margin-right: 34px;
}
.footer__boxTwo {
  display: flex;
  margin: 0;
  max-width: 190px;
  width: 100%;
  margin-top: 25px;
}
.footer__boxTwo ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.footer__boxTwo ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer__boxThree {
  display: flex;
  flex-direction: column;
  max-width: 190px;
  width: 100%;
  margin-top: 25px;
}
.footer__boxThree a {
  margin-bottom: 16px;
}
.footer__boxThree ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
}
.footer__boxThree ul li {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #76d1f7;
  margin-bottom: 8px;
}

.footer__containerTwo {
  display: flex;
  justify-content: space-between;
}
.footer__containerTwo .fc__columnOne {
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  line-height: 160%;
  color: #c4c4c4;
}
.footer__containerTwo .fc__columnTwo ul {
  display: flex;
  justify-content: space-between;
}
.footer__containerTwo .fc__columnTwo ul li {
  list-style-type: none;
  margin: 0 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 12.003px;
  color: #c4c4c4;
}
/* End of Footer */

/* end of main */
